In [1]:
import pandas as pd

# 1. Segment 정보 불러오기
member_df = pd.read_csv("../data/train/1.회원정보/train_회원정보.csv", usecols=["ID", "Segment"])

# 2. 잔액정보 불러오기
balance_df = pd.read_csv("../data/train/5.잔액정보/train_잔액정보.csv")

# 3. 병합
merged_df = pd.merge(balance_df, member_df, on="ID", how="left")

# 4. 결과 저장
merged_df.to_csv("../data/train/5.잔액정보/train_잔액정보_with_segment.csv", index=False)

print("✅ 잔액정보 + Segment 병합 완료! 저장 경로: train_잔액정보_with_segment.csv")

✅ 잔액정보 + Segment 병합 완료! 저장 경로: train_잔액정보_with_segment.csv

In [1]:
import pandas as pd
df = pd.read_csv("../data/train/5.잔액정보/train_잔액정보_with_segment.csv")
df

,기준년월,ID,잔액_일시불_B0M,잔액_할부_B0M,잔액_현금서비스_B0M,잔액_리볼빙일시불이월_B0M,잔액_리볼빙CA이월_B0M,잔액_카드론_B0M,월중평잔_일시불_B0M,월중평잔_할부_B0M,...,평잔_일시불_6M,평잔_일시불_해외_6M,평잔_RV일시불_6M,평잔_RV일시불_해외_6M,평잔_할부_6M,평잔_할부_해외_6M,평잔_CA_6M,평잔_CA_해외_6M,평잔_카드론_6M,Segment
0,201807,TRAIN_000000,998,962,22971,0,0,0,1084,547,...,2440,0,0,0,572,0,17008,0,0,D
1,201807,TRAIN_000000,998,962,22971,0,0,0,1084,547,...,2440,0,0,0,572,0,17008,0,0,D
2,201807,TRAIN_000000,998,962,22971,0,0,0,1084,547,...,2440,0,0,0,572,0,17008,0,0,D
3,201807,TRAIN_000000,998,962,22971,0,0,0,1084,547,...,2440,0,0,0,572,0,17008,0,0,D
4,201807,TRAIN_000000,998,962,22971,0,0,0,1084,547,...,2440,0,0,0,572,0,17008,0,0,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14399995,201812,TRAIN_399999,1148,3452,0,0,0,0,980,1839,...,1053,0,0,0,4373,0,0,0,0,E
14399996,201812,TRAIN_399999,1148,3452,0,0,0,0,980,1839,...,1053,0,0,0,4373,0,0,0,0,E
14399997,201812,TRAIN_399999,1148,3452,0,0,0,0,980,1839,...,1053,0,0,0,4373,0,0,0,0,E
14399998,201812,TRAIN_399999,1148,3452,0,0,0,0,980,1839,...,1053,0,0,0,4373,0,0,0,0,E
14399999,201812,TRAIN_399999,1148,3452,0,0,0,0,980,1839,...,1053,0,0,0,4373,0,0,0,0,E

In [7]:
df.columns

Index(['기준년월', 'ID', '잔액_일시불_B0M', '잔액_할부_B0M', '잔액_현금서비스_B0M',
       '잔액_리볼빙일시불이월_B0M', '잔액_리볼빙CA이월_B0M', '잔액_카드론_B0M', '월중평잔_일시불_B0M',
       '월중평잔_할부_B0M', '월중평잔_CA_B0M', '카드론잔액_최종경과월', '연체일자_B0M', '연체잔액_B0M',
       '연체잔액_일시불_B0M', '연체잔액_할부_B0M', '연체잔액_현금서비스_B0M', '연체잔액_카드론_B0M',
       '연체잔액_대환론_B0M', '잔액_현금서비스_B1M', '잔액_현금서비스_B2M', '잔액_카드론_B1M',
       '잔액_카드론_B2M', '잔액_카드론_B3M', '잔액_카드론_B4M', '잔액_카드론_B5M', '잔액_할부_B1M',
       '잔액_할부_B2M', '잔액_일시불_B1M', '잔액_일시불_B2M', '연체일수_B1M', '연체일수_B2M',
       '연체원금_B1M', '연체원금_B2M', '연체일수_최근', '연체원금_최근', '최종연체회차', '매각잔액_B1M',
       '최종연체개월수_R15M', 'RV_평균잔액_R12M', 'RV_최대잔액_R12M', 'RV_평균잔액_R6M',
       'RV_최대잔액_R6M', 'RV_평균잔액_R3M', 'RV_최대잔액_R3M', 'RV잔액이월횟수_R6M',
       'RV잔액이월횟수_R3M', '잔액_할부_유이자_B0M', '잔액_할부_무이자_B0M', '잔액_할부_해외_B0M',
       '연체잔액_일시불_해외_B0M', '연체잔액_RV일시불_B0M', '연체잔액_RV일시불_해외_B0M',
       '연체잔액_할부_해외_B0M', '연체잔액_CA_B0M', '연체잔액_CA_해외_B0M', '월중평잔', '월중평잔_일시불',
       '월중평잔_RV일시불', '월중평잔_할부', '월중평잔_CA', '월중평잔_카드론', '평잔_3M', '평잔_일시불_3M',
       '평잔_일시불_해외_3M', '평잔_RV일시불_3M', '평잔_RV일시불_해외_3M', '평잔_할부_3M',
       '평잔_할부_해외_3M', '평잔_CA_3M', '평잔_CA_해외_3M', '평잔_카드론_3M', '평잔_6M',
       '평잔_일시불_6M', '평잔_일시불_해외_6M', '평잔_RV일시불_6M', '평잔_RV일시불_해외_6M',
       '평잔_할부_6M', '평잔_할부_해외_6M', '평잔_CA_6M', '평잔_CA_해외_6M', '평잔_카드론_6M',
       'Segment'],
      dtype='object')

In [9]:
# 기준년월과 ID 조합이 중복된 행 중 1개만 남김
df_unique = df.drop_duplicates(subset=['기준년월', 'ID']).copy()

In [11]:
# 중복 제거 후에도 여전히 중복되는 행이 있는지 확인
dup_count = df_unique.duplicated(subset=['기준년월', 'ID']).sum()
print(f"중복된 (기준년월, ID) 조합 수: {dup_count}")  # 0이면 성공

중복된 (기준년월, ID) 조합 수: 0

In [13]:
# 각 ID가 몇 개의 기준년월 데이터를 가지고 있는지 확인
month_counts = df_unique.groupby('ID')['기준년월'].nunique()
print(month_counts.value_counts().sort_index())

기준년월
6    400000
Name: count, dtype: int64

In [21]:
df_unique.isnull().sum()

기준년월            0
ID              0
잔액_일시불_B0M      0
잔액_할부_B0M       0
잔액_현금서비스_B0M    0
               ..
평잔_할부_해외_6M     0
평잔_CA_6M        0
평잔_CA_해외_6M     0
평잔_카드론_6M       0
Segment         0
Length: 83, dtype: int64

✅ 1. 당월 기준 잔액 (B0M)
- 잔액_일시불_B0M, 잔액_할부_B0M, 잔액_현금서비스_B0M, 잔액_리볼빙일시불이월_B0M, 잔액_리볼빙CA이월_B0M, 잔액_카드론_B0M

- 월중평잔_일시불_B0M, 월중평잔_할부_B0M, 월중평잔_CA_B0M

- 잔액_할부_유이자_B0M, 잔액_할부_무이자_B0M, 잔액_할부_해외_B0M

✅ 2. 과거 월별 잔액 (B1M ~ B5M)
- 잔액_현금서비스_B1M, 잔액_현금서비스_B2M

- 잔액_카드론_B1M ~ 잔액_카드론_B5M

- 잔액_할부_B1M, 잔액_할부_B2M

- 잔액_일시불_B1M, 잔액_일시불_B2M

✅ 3. 연체 정보
- 연체일자_B0M

- 연체잔액_B0M, 연체잔액_일시불_B0M, 연체잔액_할부_B0M, 연체잔액_현금서비스_B0M, 연체잔액_카드론_B0M, 연체잔액_대환론_B0M, 연체잔액_CA_B0M

- 연체일수_최근, 연체일수_B1M, 연체일수_B2M

- 연체원금_최근, 연체원금_B1M, 연체원금_B2M

- 최종연체회차, 최종연체개월수_R15M


✅ 4. RV (Revolving) 관련
- RV_평균잔액_R12M, RV_최대잔액_R12M

- RV_평균잔액_R6M, RV_최대잔액_R6M

- RV_평균잔액_R3M, RV_최대잔액_R3M

- RV잔액이월횟수_R6M, RV잔액이월횟수_R3M

- 연체잔액_RV일시불_B0M, 연체잔액_RV일시불_해외_B0M

✅ 5. 월중 평균 잔액 (누적 평균류)
- 월중평잔, 월중평잔_일시불, 월중평잔_RV일시불, 월중평잔_할부, 월중평잔_CA, 월중평잔_카드론

✅ 6. 평균잔액 시계열 (3M, 6M)
- 평잔_3M, 평잔_6M

- 평잔_일시불_3M, 평잔_일시불_6M, 평잔_일시불_해외_3M, 평잔_일시불_해외_6M

- 평잔_RV일시불_3M, 평잔_RV일시불_6M, 평잔_RV일시불_해외_3M, 평잔_RV일시불_해외_6M

- 평잔_할부_3M, 평잔_할부_6M, 평잔_할부_해외_3M, 평잔_할부_해외_6M

- 평잔_CA_3M, 평잔_CA_6M, 평잔_CA_해외_3M, 평잔_CA_해외_6M

- 평잔_카드론_3M, 평잔_카드론_6M

✅ 7. 기타 특이정보
- 카드론잔액_최종경과월
- 매각잔액_B1M

✅ 타겟
Segment

In [28]:
df_unique.to_csv("../data/train/5.잔액정보/train_잔액정보_clesr.csv", index=False)